[submodule "webshim"]
	path = webshim
	url = https://github.com/aFarkas/webshim/
[submodule "Maps"]
	path = maps
	url = https://github.com/dkudeki/metadata-maker/
[submodule "Microfilms"]
	path = microfilms
	url = https://github.com/dkudeki/metadata-maker/
[submodule "Scores"]
	path = scores
	url = https://github.com/dkudeki/metadata-maker/
[submodule "Serials"]
	path = serials
	url = https://github.com/dkudeki/metadata-maker/
[submodule "theses"]
	path = theses
	url = https://github.com/dkudeki/metadata-maker/
[submodule "EBooks"]
	path = ebooks
	url = https://github.com/dkudeki/metadata-maker/
[submodule "govdocs"]
	path = govdocs
	url = https://github.com/dkudeki/metadata-maker/
[submodule "monoviaf/webshim"]
	path = monoviaf/webshim
	url = https://github.com/aFarkas/webshim/
