[submodule "webshim"]
	path = webshim
	url = https://github.com/aFarkas/webshim/
[submodule "monoviaf/webshim"]
	path = monoviaf/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "dataset/webshim"]
	path = dataset/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "ebooks/webshim"]
	path = ebooks/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "maps/webshim"]
	path = maps/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "microfilms/webshim"]
	path = microfilms/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "scores/webshim"]
	path = scores/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "serials/webshim"]
	path = serials/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "theses/webshim"]
	path = theses/webshim
	url = https://github.com/aFarkas/webshim/
[submodule "govdocs/webshim"]
	path = govdocs/webshim
	url = https://github.com/aFarkas/webshim/
